{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
{% include "encyclopedia/messages.html" %}

<form action="{% url 'entries:editPage' title %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form|safe }}
    <!-- Attempting to troubleshoot some form errors -->
    {{ form.non_field_errors }}
    {{ form.body.errors }}
    {{ form.body }}

    <input class="btn btn-primary" type="submit" value="Save">
</form>

{% endblock %}